<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MPConnection" connectionString="data source=localhost;initial catalog=cangku_manage_db;user id=sa;password=123456;connection timeout=5"
      providerName="System.Data.SqlClient, System.Data" />
    <add name="客户端B" connectionString="data source=localhost;initial catalog=cangku_manage_db;user id=sa;password=123456;connection timeout=5"
  providerName="System.Data.SqlClient, System.Data" />
    <add name="MPConnection1" connectionString="data source=localhost;initial catalog=master;user id=sa;password=123456;connection timeout=5"
      providerName="System.Data.SqlClient, System.Data" />
    <add name="toolstrackingsystem.Properties.Settings.cangku_manage_dbConnectionString"
      connectionString="Data Source=feng-pc;Initial Catalog=cangku_manage_db;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--**************************************unity ioc配置 start*********************************************-->
  <unity configSource="Configs\unity.config"></unity>
  <!--**************************************unity ioc配置 end*********************************************-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="clients" value="客户端A,客户端B,客户端C" />
    <!--<add key="scanAddress" value="192.168.0.100" />-->
    <add key="scanAddress" value="172.16.26.178" />

    <add key="scanPort" value="5025" />
  </appSettings>
</configuration>