<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!-- 为每一个接口或者实现类起一个别名-->
  <!--vote end  qzq-->
  <!-- 本项目需要使用使用控制反转容器所涉及的命名空间-->
  <namespace name="sqlserver.toolstrackingsystem" />
  <namespace name="service.toolstrackingsystem" />
  <namespace name="toolstrackingsystem" />

  <!-- 本项目需要使用使用控制反转容器所涉及的程序集名称-->
  <assembly name="sqlserver.toolstrackingsystem" />
  <assembly name="service.toolstrackingsystem" />
  <assembly name="toolstrackingsystem" />
  <containers>
    <container name="defaultContainer">
      <register type="IUserManageService" name="" mapTo="UserManageService" />
      <register type="IRoleManageService" name="" mapTo="RoleManageService" />
      <register type="IMenuManageService" name="" mapTo="MenuManageService" />
      <register type="IMenuManageRepository" name="" mapTo="MenuManageRepository" />
      <register type="IRoleManageRepository" name="" mapTo="RoleManageRepository" />
      <register type="IUserManageRepository" name="" mapTo="UserManageRepository" />
   
      <register type="IMultiTableQueryRepository" name="" mapTo="MultiTableQueryRepository" />

      <!--工具-->
      <register type="IToolInfoService" name="" mapTo="ToolInfoService" />
      <register type="IToolInfoRepository" name="" mapTo="ToolInfoRepository" />
      <register type="IToolCategoryInfoRepository" name="" mapTo="ToolCategoryInfoRepository" />

      <!--工具包人员-->
      <register type="IToolPackManageService" name="" mapTo="ToolPackManageService" />
      <register type="IToolPackManageRepository" name="" mapTo="ToolPackManageRepository" />

      <!--作业人员-->
      <register type="IPersonManageService" name="" mapTo="PersonManageService" />
      <register type="IPersonManageRepository" name="" mapTo="PersonManageRepository" />
      <!--作废工具-->
      <register type="IScrapToolInfoService" name="" mapTo="ScrapToolInfoService" />
      <register type="IScrapToolInfoManageRepository" name="" mapTo="ScrapToolInfoManageRepository" />

      <!--库存-->
      <register type="IInStoreRepository" name="" mapTo="InStoreRepository" />
      <!--流水账-->
      <register type="ICurrentCountInfoService" name="" mapTo="CurrentCountInfoService" />
      <register type="ICurrentCountInfoRepository" name="" mapTo="CurrentCountInfoRepository" />
      <!--流水账-->
      <register type="IOutBackStoreRepository" name="" mapTo="OutBackStoreRepository" />

    </container>
    <!--<container name="dd">
        <register type="IUserService" name="" mapTo="UserService" />
      </container>-->
  </containers>
</unity>